*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

.content {
  display: flex;
  padding-top: 35px;
  padding-bottom: 133px;
  column-gap: 30px;
}

.result {
  padding-top: 78px;
}

.result__video-container {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}

.result__video {
  width: 100%;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  justify-items: center;
  align-items: end;
  width: 711px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.6px;
  color: rgba(255, 255, 255, 1);
}

.search-form__label {
  display: flex;
  cursor: pointer;
  width: fit-content;
  line-height: 26.6px;
  align-items: center;
  gap: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  width: 225px;
  border: none;
  border-block-start: 1px solid rgba(255, 255, 255, 1);
  border-block-end: 1px solid rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  background-color: transparent;
  font-family: "Fira Sans Condensed", sans-serif;
  appearance: none;
  color: rgba(255, 255, 255, 1);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
}

.search-form__checkbox-list:focus {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 2px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 1);
  margin-top: 1px;
  margin-left: 1px;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  width: 19px;
  height: 19px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.button {
  font-family: inherit;
  width: 100%;
  height: 34px;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  border: 1px solid currentColor;
  color: rgba(255, 255, 255, 1);
}

button:focus {
  background-color: transparent;
}

button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

button:hover {
  text-decoration: underline;
}

button:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__details {
  max-width: 399px;
}

.content__list-item {
  max-width: 394px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.content__accent {
  color: rgb(82, 82, 82);
}

.content__list {
  position: relative;
  height: 298px;
  margin-top: 2px;
  overflow-y: auto;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: none;
  margin: 2px;
  outline: 1px solid currentColor;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.content__video-card {
  display: flex;
  width: 100%;
}

.content__video-card-description-container {
  width: 200px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 181px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__card-link_current {
  background: #545050;
}
